/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.col-centered{
    margin: 0 auto;
    float: none;
}

.donkey {
  height: 230px;
  margin-bottom: 20px; 
}
















