/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body { 
	padding-top: 70px; /*For fixed navbar*/
}

.donkey {
  height: 230px;
  margin-bottom: 20px; 
}

/*--------------------------------------------------
	Navigation
----------------------------------------------------*/
.navbar .donkey{
	height: 35px;
}

.navbar .popover{
	width: 300px;
}

.navbar .glyphicon{
	cursor: pointer;
}

.navbar .form-control-feedback{
	pointer-events: all;
}

/* ---------------------------------------------
	overwrite bootstrap
-----------------------------------------------*/
.col-centered{
    margin: 0 auto;
    float: none;
}

.pager{
	margin: 10px 0;
}

.table>tbody>tr>td{
	vertical-align: middle;
}











