/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.col-centered{
    margin: 0 auto;
    float: none;
}

.donkey {
  height: 230px;
  margin-bottom: 20px; 
}

.navbar .donkey{
	height: 35px;
}

.navbar .popover{
	width: 300px;
}

.navbar .glyphicon{
	cursor: pointer;
}

.navbar .form-control-feedback{
	pointer-events: all;
}














